<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    {% block stylesheets %}{% endblock %}


    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/style/signin.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/style/home.css') }}">

    <!-- Latest compiled and minified JavaScript -->




    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>


<body>
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}></script>
{% block javascripts %}{% endblock %}

{% block body %}{% endblock %}
{#        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}#}


</body>
</html>
