{% extends "::base.html.twig" %}

{% block title %}Home{% endblock %}
{% block head %}  <link rel="stylesheet"
                  href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}
{% block body %}
    <!-- <h1>Welcome to the Coach:Home page</h1> -->
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Coach Pannel</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="{{ path('nieuwKlant') }}">Nieuw klant</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Habit 1</th>
            <th>Habit 2</th>
            <th>Habit 3</th>
            <th>More</th>
        </tr>
        </thead>
        <tbody>
        {% if klanten  %}
            {% for n in klanten %}
                <tr>
                    <td>{{ n.id }}</td>
                    <td>{{ n.naam }}</td>
                    <td>{{ n.habit1 }}</td>
                    <td>{{ n.habit2 }}</td>
                    <td>{{ n.habit3 }}</td>
                    <td>
                        <a class="btn btn-default btn-xs"  href="{{ path('detailKlant', { 'klantid': n.id }) }}" >Details</a>

                    </td>

                </tr>
            {% endfor %}
        {% else %}klanten table is leeg
        {% endif %}
        </tbody>
    </table>

</div>
{% endblock %}