{% extends "::base.html.twig" %}

{% block title %}Home{% endblock %}
{% block head %}  <link rel="stylesheet"
                  href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}
{% block body %}
    <!-- <h1>Welcome to the Coach:Home page</h1> -->
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
                </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Overzicht klanten <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Habit 1</th>
            <th>Habit 2</th>
            <th>Habit 3</th>
            <th>More</th>
        </tr>
        </thead>
        <tbody>
        {% if klanten  %}
            {% for n in klanten %}
                <tr>
                    <td>{{ n.id }}</td>
                    <td>{{ n.naam }}</td>
                    <td>{{ n.habit1 }}</td>
                    <td>{{ n.habit2 }}</td>
                    <td>{{ n.habit3 }}</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <a class="btn btn-default btn-xs"  href="{{ path('detailKlant', { 'klantid': n.id }) }}" >Details</a>
                        <a class="btn btn-default btn-xs" href="{{ path('detailKlant', { 'klantid': n.id }) }}">Edit</a>
                    </td>

                </tr>
            {% endfor %}
        {% else %}klanten table is leeg
        {% endif %}
        </tbody>
    </table>

</div>
{% endblock %}