{% extends "::base.html.twig" %}

{% block title %}Nieuw klant{% endblock %}
{% block head %}
    <link rel="stylesheet"
                        href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('home') }}">Coach Pannel</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ><a href="{{ path('home') }}">Home</a></li>
                    <li class="active" ><a href="{{ path('nieuwKlant') }}">Nieuw klant</a></li>
                </ul>
            </div>
        </nav>


        <a class="btn btn-default"  href="{{ path('home') }}" >
            <div class="glyphicon glyphicon-chevron-left"></div>Terug</a>

        <hr/>

        <div class="form">


        {{ form_start(form) }}
            <div class="form-group">
                <label for="naam">Naam: </label>
                {{ form_widget(form.naam) }}
            </div>

            <div class="form-group">
                <label for="naam">Habit1: </label>
                {{ form_widget(form.habit1) }}</div>

            <div class="form-group">
                <label for="naam">Habit2: </label>
                {{ form_widget(form.habit2) }}</div>

            <div class="form-group">
                <label for="naam">Habit3: </label>
                {{ form_widget(form.habit3) }}</div>


            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}