{% extends "::base.html.twig" %}
{% block head %}  <link rel="stylesheet"
                        href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}

{% block title %}AppBundle:Coach:overzichtKlanten{% endblock %}

{% block body %}

    <div class="container">


        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Naam</th>
                <th>Habit 1</th>
                <th>Habit 2</th>
                <th>Habit 3</th>
                <th>More</th>
            </tr>
            </thead>
            <tbody>
            {% if klanten  %}
                {% for n in klanten %}
                    <tr>
                        <td>{{ n.id }}</td>
                        <td>{{ n.naam }}</td>
                        <td>{{ n.habit1 }}</td>
                        <td>{{ n.habit2 }}</td>
                        <td>{{ n.habit3 }}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            <a class="btn btn-default btn-xs"  href="{{ path('detailKlant', { 'klantid': n.id }) }}" >Details</a>
                            <a class="btn btn-default btn-xs" href="{{ path('detailKlant', { 'klantid': n.id }) }}">Edit</a>
                        </td>

                    </tr>
                {% endfor %}
            {% else %}klanten table is leeg
            {% endif %}
            </tbody>
        </table>



    </div>


{% endblock %}



