{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'class': 'form-signin' } }) }}

    {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'form.current_password'|trans } }) }}
    {{ form_errors(form.current_password) }}

    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
    {{ form_errors(form.plainPassword.first) }}

    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
    {{ form_errors(form.plainPassword.second) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>